[

{% for node in groups["pakupi_worker"] %}
  {% set f = hostvars[node].ansible_facts %}
  {% set threads_per_core = f.processor_threads_per_core %}
  {% set cores = f.processor_vcpus / threads_per_core %}
  {% set cpus = f.processor_count %}
  {
    "name": "{{ node }}",
    "CoresPerSocket": "{{ (cores/cpus)|int }}",
    "Sockets": "{{ cpus|int }}",
    "ThreadsPerCore": "{{ threads_per_core }}",
  },
{% endfor %}
]