[
  {
    "name": "pakupi_worker",
    "Default": "YES",
    "MaxTime": "UNLIMITED",
    "Nodes": "ALL",
  },
  {% for partition in pakupi_slurm_partitions %}
    {% if partition != "pakupi_worker" and partition in groups %}
    {
    "name": "{{ partition }}",
    "Default": "NO",
    "MaxTime": "UNLIMITED",
    "Nodes": "{{ ",".join(groups[partition]) }}",
  },
    {% endif %}
  {% endfor %} 
]
